body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #765C3D;
    color: white;
}

.logo img {
    width: 48.632px;
    height: 44px;
    flex-shrink: 0;
}

.nav-links {
    list-style: none;
    display: flex;
    padding: 0.5rem;
    gap: 50px;
    margin: 0;
}

.nav-links li {
   color: #F2D2AE;
    text-align: center;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #ff9900;
}

.hero-banner {
    background-image: url('./img/hero.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    height: 900px;
    padding: 200px 0; /* Adjust the padding as needed */
}

.hero-content {
    width: 493px;
    height: 290px;
    flex-shrink: 0;
}

.hero-content h1 {
    color: #FFF;
    font-family: Montserrat;
    font-size: 64px;
    font-style: normal;
    font-weight: 600;
    line-height: 72px; /* 112.5% */
    letter-spacing: -1.28px;
}

.hero-content p {
    color: #FFF;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 125% */
}

.cta-button {
    display: flex;
    padding: 12px 32px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 999px;
    background: #B59066;
    color: white;
}
.album {
    width: 1245px;
    height: 764px;
   
    background: #FFF !important;
    box-shadow: 0px 4px 23px 0px rgba(0, 0, 0, 0.25) !important;
}
.album-1 {
    height: 500px !important;
   padding: 3rem 3rem 0rem 3rem;

}
.h1-gallery {
     color: #765C3D;
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.h4-album1{
    font-size: 3rem;
    color: #765C3D;
font-family: Montserrat;
font-style: normal;
font-weight: 600;
line-height: normal;
   
}
.p-gallery {
    color: #765C3D;
    text-align: center;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.p-album {
    color: #765C3D;
font-family: Montserrat;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.contact-img {
height: 1088px !important;
width: ;: 808px !important;

}
.form-bg {
    background: #FFF2E4;
}
.form-all {
width: 501.751px;
height: 49px;
flex-direction: column;
justify-content: flex-end;
flex-shrink: 0;
background: #FFF2E4;
}
.h1-contact {
    color: #765C3D;
font-family: Montserrat;
font-size: 40px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.p-contact {
color: #765C3D;
font-family: Montserrat;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.label-form {
    display: flex;
    color: #B59066;
font-family: Montserrat;
font-size: 10px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.text-form {
    border: 1px solid #B59066;
background: #FFF;
}
.button-form {
padding: 12px 32px;
gap: 8px;
border-radius: 999px;
background: #B59066;
color: white;
text-align: right;
float: right !important;
}
footer {
    background: #B59066;
    height: 56px !important;
}
.p-footer {
color: #FFF2E4;
text-align: center;
align-items: center;
font-family: Montserrat;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin: 0 !important;
}