html, body {
	margin: 0;
	padding: 0;
	height: 1200vh;
	box-sizing: border-box;
}
.img-float {
	width: 250px;
	height: 250px;
/* The float property can be set either to the left or right. This positioning will depend of the content or sibling of the element you are selecting	*/
	float: right;
/*You can use z-index property for the prioritization of the stack of your elemets. You can use negative values for the elements*/
	z-index: 2;
}
.parent-element{
	background-color: skyblue;
	padding: 10px;
/*If the parent element has position: relative, then any children that have position: absolute will have their position base on the parent instead of the whole pages*/
	position: relative;
	height: 800vh;
	z-index: -1;
}

.child-one{
	background-color: gray;
	padding: 10px;
}
.child-two{
	background-color: yellow;
	padding: 10px;

/* Static- this is the default positioning of any elemet cannot use top, right, bottom and left properties*/
/* Relative - this is the opposite of static, wherein you can modify the top, left, bottom and right properties to define the exact position of the element and it also depends on the parent elemet*/
/* Absolute - instead of depending to the parent element, it depends on the whole page itself*/
/*Fixed - This will attach to the page itself and will not move regardless on if you scroll*/
/*Sticky - This will be position by default but once it reaches a certain scroll point, then it will stick to the browser until it back in its original position. The top property is crucial for it to be able to stick with spacing on the top*/
/*	position: absolute;*/
	left: 10px;
	bottom: 10px;
	position: sticky;
	top: 10px;
}

.child-three {
	background-color: indianred;
	padding: 10px;
	/*left: 10px;
	bottom: 10px;*/
}